body{
   background-color: #2011a2;
    
    border-radius: 0px 10px 0px 0px;
    height: auto;
    width: auto;
    border: 11px inset #201148;    
    
/*     width: 100%;*/
    margin: 0 auto;
     padding: 0 auto;
/*    justify-content: space-between;*/
/*position:sticky;*/
    

}


#global{
/*
     height: auto;
    width: auto;
*/
    
/*    background-image: url(../image/MAYASketchChararcter.png);*/
/*    opacity: 0.5;*/
    
    
}



header{
    
    
/*    background-color: yellow;*/
/*    width:auto;*/
    height: 100px;
 
/*    border:20px black;  */

}


/*
div.jobsTitre{
    background-color: green;
    width: 400px;
    height: 100px;
     float: right;
    
  border-radius: 0px 10px 0px 0px;

border: 5px outset #706765;
}
*/





.BigTitle{
background-color: #00ccfd;
    height: 85px;
    width: 250px;
/*    text-align: center;*/
    text-align:center;
  font-size: 38px;
         opacity: 1;
    
}

.SmallTitle{
 background-color: #00ccfd;
    height: 55px;
     width: 150px;
  text-align: center;
    vertical-align:middle;
}


ul{
    display:inline;

  
}

li{
  
font-size: 30px;
 list-style: none;
        display:initial;

border: 5px outset #201148;
  background-color: #00ccfd;
    width: 300px;
    height: 150px;
    float: right;
   
    
}

button{
    display:flex;

  
}



footer{
         opacity: 1;
   background-color: #201148;
    width: 500px;
    height: 150px;
   
    
  border-radius: 0px 10px 0px 0px;

border: 10px outset  #00ccfd;
    
   
    margin-top:650px;
    text-align: center;
    font-size: 35px;
    color: aliceblue;

}




/*la version ipad   */

/*@media screen and (min-width: 100px){*/
@media only screen and (max-width: 1075px) {
    

    
  
    
    
    ul{
    display:inline;

  
}
    
    
    
    .BigTitle{
background-color: #00ccfd;
    height: 70px;
    width: 225px;
/*    text-align: center;*/
    text-align:center;
  font-size: 30px;
         opacity: 1;
}

.SmallTitle{
 background-color: #00ccfd;
    height:40px;
     width: 125px;
  text-align: center;
    vertical-align:middle;
    font-size: 20px; 
}

    
    

li{
  
font-size: 30px;
 list-style: none;
        display:block;

border: 5px outset #201148;
  background-color: #00ccfd;
    width: 300px;
    height: 150px;
 
   
    
}
    
 
    
    
footer{
         opacity: 1;
   background-color: #201148;
    width: 350px;
    height: 105px;
   
    
  border-radius: 0px 40px 0px 0px;

border: 10px outset  #00ccfd;
    
   
    margin-top:640px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;

}    
    
    
  #MenuGroupe {
  


    
}   
    
    
}







/*la version iphone   */

/*@media screen and (min-width: 100px){*/
@media only screen and (max-width: 550px) {
  
 
    
    
    
    
    
    .BigTitle{
background-color: #00ccfd;
    height: 85px;
    width: auto;
/*    text-align: center;*/
    text-align:center;
  font-size: 38px;
         opacity: 1;
}

.SmallTitle{
 background-color: #00ccfd;
    height: 55px;
     width: auto;
  text-align: center;
 
}
    
    
#MenuGroupe {
  

    margin-top:335px; 
    
}   
    
    
li{
  
font-size: 30px;
 list-style: none;
        display:block;

border: 5px outset #201148;
  background-color: #00ccfd;
    width: 300px;
    height: 150px;
    float:none;
   
    
}
    
.SmallTitle {
  

height: 80px;
    
}   
    
    
    
    footer{
         opacity: 1;
   background-color: #201148;
    width: auto;
    height: 150px;
   
    
  

border: 10px outset  #00ccfd;
   border-radius: 0px 0px 0px 0px;  
   
    margin-top:600px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;

} 
    
    
}

    
