@font-face { font-family: Computerfont ; src: url('Computerfont.otf'); } 


@font-face { font-family: Retro Computer; src: url('Retro Computer.otf'); } 




/*font*/

body{
     background-color: #2011a2;
    background-image: url(../image/MAYASketchChararcter.png);

     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 0px 10px 0px 0px;
    height: auto;
    width: auto;
    border: 11px inset #4B6073;    
    
/*     width: 100%;*/
    margin: 0 auto;
/*     padding: 0 auto;*/
/*    justify-content: space-between;*/
/*position:sticky;*/
      opacity: 0,5;
   
}



a {
  

color: orange;
    
} 

#global{
/*     background-color: #6290B8;*/

 
   
}



header{
/*   background-color: #6290B8;*/
      opacity: 1;

    
    height: 50px;
    font-size: 15px;
    text-align: center;
    
  

    
margin-bottom: 100px;    
    

}










  .BigTitle{
      background-color: #6290B8;
      border: 10px outset orange;
    height: 130px;
       width: 35%;
/*    width: 400px;*/
/*    text-align: center;*/
    text-align:center;
      font-family:Computerfont; 
  font-size: 50px;
    float: left;
      
      opacity: 1;
          -webkit-transition: border 2s;
    transition: background-color border 2s;
}

.BigTitle:hover {
/*    color: white;*/
  background-color: #201148; 
     border: 8px inset  #00ccfd;  
     opacity: 1.6;
    color: #27CADE
}

.SmallTitle{
 background-color: #6290B8;
    height: 50px;
     width: 20%;
  text-align: center;
/*    vertical-align:middle;*/
      float: left;
    font-family:Computerfont; 
    font-size: 30px;
   border: 5px ridge #4B6073;
/*        border-left: 7px outset #201148;*/
      opacity: 1;
    
           -webkit-transition: border 2s;
    transition: background-color border 2s;
/*    transition: background-color 2s;*/

}
    


/* pour ajouter un effect hover sur le site */
.SmallTitle:hover {
/*    color: white;*/
  background-color: #201148; 
     border: 8px inset  #00ccfd;  
     opacity: 1.6;
    color: #27CADE
}










#projet{border: 2px;
      border-style: inherit;
      border-width: inherit;
/*      border-color: black;*/
 
/*       background-color: red;*/
      background-color: #6290B8; 
       border: 10px solid #201148;
/*      position: absolute;*/
/*      bottom: 96px;*/
    
    width: 95%;
/*    float: right;*/
     margin-left: auto; 
    margin-bottom: 25px;
    
      height: 850px;
      overflow: auto;
    overflow-y: hidden;
      opacity: 1;
    }



/*
#projetinf0{
    
    height: 1250px;
      opacity: 1;
}
*/


.vidéo00{
/*    background-color: red;*/
    width: 400px;
    height: 150px;
    border: 5px solid #4B6073;
    margin-bottom: 110px;
    margin-left: 125px;
/*     opacity: 1;*/
    
}




iframe{
    
width: 400px;
    height: 250px;
      opacity: 1;
}


video{
    
width: 400px;
    height: 250px;
      opacity: 1;
}



.vidéoDescript00{
    background-color: #9BAEBC;
       border: 2px solid #201148;
    width: 650px;
    height: 450px;
   
          opacity: 1;
/*    float: right;*/
}







ul{
  display: flex;
/*     flex-wrap:wrap-reverse;*/
/*    float: left;*/
    justify-content: flex-start;
list-style: none;
   
   opacity: 1;
}

li{
 margin-left: 30px;
    margin-right: 30px;
     justify-content: space-around;
  opacity: 1;
}


/*la version ipad   */

/*@media screen and (min-width: 100px){*/
@media only screen and (max-width: 1075px) {
    
    body{
   
         
      border: 10px outset #4B6073;
    
      }
    
    
    
    
    
    
    #projet{
        border: 2px;
/*
      border-style: inherit;
      border-width: inherit;
*/
/*      border-color: black;*/
   
/*       background-color: #55e7ff;*/
       border: 10px solid ;
/*      position: absolute;*/
/*      bottom: 96px;*/
    
/*    width: 100%;*/
/*    float: right;*/
/*     margin-left: 10%; */
    margin-bottom: 100px;
    padding-bottom: 1500px;    
       margin-left: 0%; 
        
        
    width: auto;    
      height: 4000px;

    
    overflow:hidden;
       
        
        
    }



#projetinf0{
    
    height: 2000px;
    
}
    
    
    
    ul{
  display:grid;
/*     flex-wrap:wrap-reverse;*/
/*    float: left;*/
    justify-content: flex-start;
list-style: none;
   
 
}
    
    
    
    
    .vidéo00{
/*    background-color: red;*/
    width: 300px;
    height: 100px;
/*    border: 2px solid #201148;*/
    margin-top: 15px;
    margin-bottom: 110px;
    margin-left: 20%;
        margin-right: 50%;
   
    
}
    
    
    
    video{
    
 width: 300px;
    height: 200px;
          margin-bottom: 100px;
    
}
    
    
    iframe{
    
 width: 300px;
    height: 200px;
          margin-bottom: 100px;
}
    

.vidéoDescript00{
   
       border: 2px solid;
    width: 90%;
    height: 550px;
    margin-left: -0%;
        margin-right: 10%;
        
/*    float: right;*/
}
    
    
    
    
    
    
    
    
    
    
    
    
      .BigTitle{
      
     background-color: #6290B8;
      border: 10px outset #4B6073;
    height: 130px;
       width: 34%;
      font-size: 30px;
      border: 10px outset ;
}



.SmallTitle{
   background-color: #6290B8;
      border: 10px outset #4B6073;

    height: 60px;
     width: 19%;
   border: 5px ridge;
/*        border-left: 7px outset #201148;*/

}
  
    
      h2{
     text-align: center;
          font-size: 30px;
        color: orange;
}
    
    
         h3{
          font-size: 25px;
}
    
}


/*la version iphone   */

/*@media screen and (min-width: 100px){*/
@media only screen and (max-width: 650px) {
  
    
  body{
  
      border: 10px outset #4B6073;
         font-size: 15px; 
/*         background-color: #2011a2;*/
/*    background-image:none;*/
      }
    
    
    
        #projet{

            
            height: 5500px;
       
        
        
    }
    
    
     
     header{
    
       margin-bottom: 275px;
    } 
    
    
    
    
     
 .BigTitle{
   background-color: #6290B8;
/*      border: 10px outset #4B6073;*/
    height: 85px;
    width: auto;
/*    text-align: center;*/
    text-align:center;
  font-size: 38px;
         opacity: 1;
        float: none;
}

.SmallTitle{
   background-color: #6290B8;
      border: 10px outset #4B6073;
    height: 55px;
     width: auto;
  text-align: center;
    float: none;
 
}
    
    
    
    
    
        
    
        iframe{
    
 width: 300px;
    height: 200px;
          margin-bottom: 100px;
    
}
    
    
    
        video{
    
 width: 300px;
    height: 200px;
          margin-bottom: 100px;
    
}
    
    
      .vidéo00{
/*    background-color: red;*/
    width: 200px;
    height: 100px;
/*    border: 2px solid #201148;*/
    margin-top: 15px;
    margin-bottom: 150px;
/*    left: 50%;*/
    right: 22%;
          position:relative
   
    
}

.vidéoDescript00{
   
       border: 2px solid;
    width: 360px;
    height: 300px;
    margin-left: -10%;
        margin-right: 0%;
        
/*    float: right;*/
}
    
   
     #Descript00Extra{
   
   
    height: 475px;
    
}
   
    

   #projet{
    
    height: 2900px;
    
}
    
    
    
    h2{
     text-align: center;
        color: orange;
         font-size: 22px;
}
    
         h3{
          font-size: 17px;
}   
    
}
    
    
    
    
