body{
     background-color: #55e7ff;
    border-radius: 0px 10px 0px 0px;
    height: auto;
    width: auto;
    border: 11px inset #706765;    
    
/*     width: 100%;*/
    margin: 0 auto;
/*     padding: 0 auto;*/
/*    justify-content: space-between;*/
/*position:sticky;*/
   
}



header{
   background-color: #201148;
    
    
    border: 10px solid #201148;
    

/*    width:350px;*/
    
    height: 55px;
    font-size: 15px;
    text-align: center;
    
  

    
margin-bottom: 100px;    
    
/*display: block;*/

/*margin-left: 38%;*/
/*    padding-right: 50%;*/
/*
    left: 50%;
    right: 50%;
    
*/
}










  .BigTitle{
      background-color: #55e7ff;

    height: 100px;
       width: 35%;
/*    width: 400px;*/
/*    text-align: center;*/
    text-align:center;
  font-size: 25px;
    float: right;
      border: 10px outset #201148;
}



.SmallTitle{
 background-color: #55e7ff;
    height: 50px;
     width: 20%;
  text-align: center;
/*    vertical-align:middle;*/
      float: right;
    font-size: 20px;
   border: 5px ridge #2011a2;
/*        border-left: 7px outset #201148;*/

}
    











#projet{border: 2px;
      border-style: inherit;
      border-width: inherit;
/*      border-color: black;*/
       background-color: #55e7ff;
       border: 10px solid #201148;
/*      position: absolute;*/
/*      bottom: 96px;*/
    
    width: 90%;
/*    float: right;*/
     margin-left: auto; 
    margin-bottom: 100px;
    
      height: 950px;
      overflow: auto;
    overflow-x:top;}



#projetinf0{
    
    height: 700px;
    
}


.vidéo00{
    background-color: red;
    width: 400px;
    height: 150px;
    border: 2px solid #201148;
    margin-bottom: 20px;
    margin-left: 125px;
   
    
}

.vidéoDescript00{
    background-color: #00ccfd;
       border: 2px solid #201148;
    width: 650px;
    height: 700px;
   
        
/*    float: right;*/
}







ul{
  display: flex;
/*     flex-wrap:wrap-reverse;*/
/*    float: left;*/
    justify-content: flex-start;
list-style: none;
   
 
}

li{
 margin-left: 30px;
    margin-right: 30px;
     justify-content: space-around;

}
    
    
    
